name: Publish docs

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'mkdocs.yml'
      - 'docs/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build
        run: |
          docker build --file documentation.Dockerfile --tag liquibase/neo4j-docs:latest .
          docker run --pull never --volume "$(pwd)":/usr/src/app liquibase/neo4j-docs:latest build

      - name: Sync to Static
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks
        env:
          AWS_S3_BUCKET: ${{ secrets.NEO4J_DOCS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.NEO4J_DOCS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.NEO4J_DOCS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.NEO4J_DOCS_S3_REGION }}
          SOURCE_DIR: 'site/'
          DEST_DIR: 'labs/liquibase/docs'
