name: Integration Test

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths-ignore:
      - "documentation.Dockerfile"
      - "documentation.dockerignore"
      - "mkdocs.yml"
      - "docs/**"

permissions:
  contents: read

jobs:
  integration-test:
    name: Java ${{ matrix.java }} | Neo4j ${{ matrix.neo4j_version }} (EE? ${{ matrix.enterprise }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [17, 21, 25]
        neo4j_version:
          - "4.4"
          - "5"
          - "2025.09"
        enterprise:
          - "true"
          - "false"

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: "temurin"
          cache: "maven"

      - name: Run Tests
        run: mvn --quiet --show-version --batch-mode verify -Djava.version=${{ matrix.java }}
        env:
          NEO4J_VERSION: ${{ matrix.neo4j_version }}
          ENTERPRISE: ${{ matrix.enterprise }}
