name: Build and Test

on:
  workflow_dispatch:
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize
    paths-ignore:
      - "documentation.Dockerfile"
      - "documentation.dockerignore"
      - "mkdocs.yml"
      - "docs/**"

permissions:
  contents: write
  pull-requests: write
  packages: read
  id-token: write # Required for OIDC authentication

jobs:
  authorize:
    environment: ${{ github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.full_name != github.repository && 'external' || 'internal' }}
    runs-on: ubuntu-latest
    steps:
      - run: true

  build-test:
    needs: authorize
    uses: liquibase/build-logic/.github/workflows/os-extension-test.yml@main
    secrets: inherit
