name: Build and Test

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build-test:
    uses: liquibase/build-logic/.github/workflows/os-extension-test.yml@v0.2.3
    secrets: inherit

  integration-test:
    needs: build-test
    name: Java ${{ matrix.java }} | Neo4j ${{ matrix.neo4j_version }} (EE? ${{ matrix.enterprise }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11, 17, 18]
        neo4j_version:
          - "3.5"
          - "4.0"
          - "4.1"
          - "4.2"
          - "4.3"
          - "4.4"
        enterprise:
          - "true"
          - "false"

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Tests With Maven
        run: mvn --quiet --show-version --batch-mode verify
        env:
          NEO4J_VERSION: ${{ matrix.neo4j_version }}
          ENTERPRISE: ${{ matrix.enterprise }}